<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tick.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F31D2AF12D2330C900DF129E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F31D2B022D2330CB00DF129E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F31D2B0C2D2330CB00DF129E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
